<h1>Lista de Contatos</h1>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Email</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		
			{% for contato in contatos->fetch() %}
			    <tr>
			    	<td>{{ contato['id'] }}</td>
			    	<td>{{ contato['nome'] }}</td>
			    	<td>{{ contato['email'] }}</td>
			    	<td>asdasd</td>
			    </tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>